.banner {
    display: flex;
    background: #a081d7;
    position: relative;
    z-index: 1;
    font-weight: bold;
    align-items: center;
    padding: 1em 0 1em;


    .info {
        margin: 0em 1em -1em;
    }

    .spacer {
        flex: 1 1 auto;
    }

    .buttons {
        display: flex;   
        align-items: center;
    }



}