<app-banner [loading]="loading">
  <div class="banner-left">
    <h3>Featured playlist</h3>
  </div>
  <div class="banner-right">
    <mat-icon class="mat-18">search</mat-icon>
  </div>
</app-banner>
<ng-container *ngIf="playlists.length; else loadingTemplate">
  <section class="playlist-container" [@listAnimation]="playlists.length">
    <app-tile class="playlist-item" *ngFor="let playlist of playlists" [img]="playlist.artwork" [link]="playlist.url">
      <div class="title">{{ playlist.name }}</div>
      <div class="subtitle">{{ playlist.curator_name }}</div>
    </app-tile>
  </section>
</ng-container>
<ng-template #loadingTemplate>
  <section class="loading">
    <app-spinner></app-spinner>
  </section>
</ng-template>
